<!-- Footer -->
<div class="container">
  <footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright py-3">© 2018 Copyright:
      <a href="https://www.alphablog.com"> AlphaBlog</a> by
      <a href="http://swapnil.sable">Swapnil Sable</a>
    </div>
    <!-- Copyright -->

    <div class="about-link">
      <%= link_to 'About', about_path %>
    </div>

  </footer>
</div>
<!-- Footer -->